# dependencies
node_modules/

# environment variables
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*

# runtime data
pids
*.pid
*.seed
*.pid.lock

# coverage
coverage/

# build files
dist/
build/

# uploads (agar local store kar rahe ho)
uploads/

# OS files
.DS_Store
Thumbs.db
